@import '~variables';

.table-body {
	font-size: $--font-size-regular;
	padding: 0px 10px;
}

.table-header {
	align-items: strech;
	background-color: $--color-grey-1;
	border-bottom: 1px solid #EAEEF5;
	display: flex;	
	padding: 0px 10px 0px 10px;
}

.table-header-column {
	background-color: #e3e3e3;
	border-right: 1px solid $--color-white;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 6px 0px;
}

.table-header-column__label {
	color: #606266;
	cursor: pointer;
	display: block;
	font-size: 10px; // $--font-size-small; doesn't work for some weird reason..
	font-weight: bold;
	padding-right: 10px;
	user-select: none;

	&:hover {
		color: $--color-action-blue;
	}

	&.is-active {
		color: $--color-action-blue;
	}

	> i {
		color: $--color-action-blue;
	}
}

.table-row {
	border-bottom: 1px solid $--color-grey-2;
}

.table-column {
	padding: 10px 0px;
	&.is-highlighted {
		// background-color: $--color-pale-blue;
	}

}
