@import '~variables';

.table-body {
	font-size: $--font-size-regular;
	padding: 0px 10px;
}

.table-header {
	background-color: $--color-grey-1;
	border-bottom: 1px solid #EAEEF5;
	padding: 4px 10px 0px 10px;
}

.table-header__label {
	color: #606266;
	cursor: pointer;
	display: inline-block;
	font-size: 10px; // $--font-size-small; doesn't work for some weird reason..
	font-weight: bold;
	padding-right: 10px;
	user-select: none;

	&.is-active {
		color: $--color-action-blue;
	}

	> i {
		color: $--color-action-blue;
	}
}

.table-row {
	border-bottom: 1px solid $--color-grey-2;
}

.table-column {
	padding: 10px 0px;
	&.is-highlighted {
		// background-color: $--color-pale-blue;
	}

}
